<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-start">
        <img src="../assets/plate1.jpg" expand="block" />
        <ion-item>
          <ion-label>Ensalada de macorrones</ion-label>
        </ion-item>
      </ion-col>
      <ion-col class="ion-align-self-end">
        <img src="../assets/plate2.jpg" expand="block" />
        <ion-item>
          <ion-label>Solomillo a la plancha</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-start">
        <img src="../assets/plate3.jpg" expand="block" />
        <ion-item>
          <ion-label>Paella con Gambas</ion-label>
        </ion-item>
      </ion-col>
      <ion-col class="ion-align-self-end">
        <img src="../assets/plate4.jpg" expand="block" />
        <ion-item>
          <ion-label>Ensalada marinera</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>